h1 {
    color: purple;
}

.container {
    display: grid;

    grid-template-columns: 1 fr 1 fr 1 fr 1 fr 1 fr 1 fr 1 fr;
    /* grid-template-columns: 100px 100px 100px 100px 100px 100px 100px ; */
    grid-template-rows: 1 fr 1 fr 1 fr 1 fr 1 fr 1 fr;
}

.player1{

}

.player1color {
    display: block;
    background-color: blue;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

.player2 {

}

.player2color {
    display: block;
    background-color: red;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

.gameboard {
    display: flex;
}

.pointer{
 
}

.all-circles {
    display: flex;

    /* display: block;
    background-color: grey;
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid black; */
}

.circles {
    display: block;
    background-color: grey;
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid black;
}


.circle-0 {

    grid-row: 1;
    grid-column: 1;
    background-color: grey;
    /* height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid black; */
}

.circle-1 {
    /* display: block; */
    grid-row: 2;
    grid-column: 1;
    background-color: grey;
    /* height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid black; */
}

.circle-2 {
    /* display: block; */
    grid-row: 1;
    grid-column: 3;
    /* background-color: grey;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid black; */
}

.circle-3 {
    
}

.circle-4 {
    
}

.circle-5 {
    
}

.circle-6 {
    
}