h1 {
    color: purple;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1 fr 1 fr 1 fr 1 fr 1 fr 1 fr 1 fr;
    /* grid-template-columns: 100px 100px 100px 100px 100px 100px 100px ; */
    grid-template-rows: 1 fr 1 fr 1 fr 1 fr 1 fr 1 fr;
    width: 1000px;
    margin: 30px auto;
}

.players{
    display: flex;
    justify-content: center;

}

#player1{
    display: flex;
    grid: 1 / 3;
    padding: 0 20px 0 0;
}
.test{

}
.player1color {
    display: flex;
    background-color: blue;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid black;
    grid: 1 / 3;
}

#player2 {
    display: flex;
    grid: 1 / 3;
    padding: 0 0 20px;

}

.player2color {
    display: flex;
    background-color: red;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

.gameboard {
    display: flex;
}

.instructions {
    display: flex;
}

.restart {
    
}

.pointer{
    display: flex;
}

.pointers{
    display: grid;

}

.all-circles {
    display: grid;

    /* display: block;
    background-color: grey;
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid black; */
}

.circles {
    display: block;
    background-color: grey;
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid black;
}


.circle-0 {

    grid-row: 1;
    grid-column: 1;
    background-color: grey;
    /* height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid black; */
}

.circle-1 {
    /* display: block; */
    grid-row: 1;
    grid-column: 2;
    background-color: grey;
    /* height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid black; */
}

.circle-2 {
    /* display: block; */
    grid-row: 1;
    grid-column: 3;
    /* background-color: grey;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid black; */
}

.circle-3 {
    grid-row: 1;
    grid-column: 4;
    
}

.circle-4 {
    grid-row: 1;
    grid-column: 5;
    
}

.circle-5 {
    grid-row: 1;
    grid-column: 6;
    
}

.circle-6 {
    grid-row: 1;
    grid-column: 7;
    
}

.circle-7 {
    grid-row: 2;
    grid-column: 1;
    
}